backend/.idea
backend/target/
backend/.mvn
backend/!**/src/main/**/target/
backend/!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

frontend/.idea
frontend/node_modules